<h2 mat-dialog-title>Add joke:</h2>

<mat-dialog-content class="mat-typography">
  <label>
    Joke text: <input type="text" [ngModel]="joke.text" (ngModelChange)="joke.text=$event">
  </label>
  <br>

  <label>
    Joke rating: <input type="number" [ngModel]="joke.rating" (ngModelChange)="joke.rating=$event">
  </label>
  <br>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="accent" [mat-dialog-close]="joke" >Add</button>
</mat-dialog-actions>


