<h1 mat-dialog-title>Add new joke</h1>
<div mat-dialog-content>

  <mat-form-field>
    <mat-label>Text:</mat-label>
    <input matInput [(ngModel)]="data.text">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Rating:</mat-label>
    <input matInput [(ngModel)]="data.rating">
  </mat-form-field>


</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="{text:data.text,rating:data.rating}" cdkFocusInitial>Ok</button>
</div>
